{
  "presets": ["es2015", "react", "stage-1"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },
  "plugins": [
    
    [
      "extract-format-message", {
        "generateId": "underscored_crc32",
        "outFile": "locales/en.json"
      } 
    ]
  ]
}
