

/* Colors taken from invision design */

/* bgs */

// darkslategray
color-bg-dark        = #2f2f2f

// white
color-bg-light       = #fcfcfc

/* font colors */

color-font           = #363636

// dimgray
color-font-neutral   = #6d6d6d

// silver
color-font-light     = #b7b7b7

/* Branding */

// indianred
color-brand-primary  = #c66778

