

/* Colors taken from invision design */

// darkslategray
color-bg-dark        = #2f2f2f

// white
color-bg-light       = #ffffff

/* Branding */

// indianred
color-brand-primary  = #c66778

// dimgray
color-brand-accent   = #6d6d6d

// silver
color-brand-accent   = #b7b7b7