mono = Consolas, 'Liberation Mono', Menlo, Courier, monospace
helvetica = 'Helvetica Neue', Helvetica, Arial, sans-serif

// typography
typography-font-size = 18px
typography-line-height = 1.618em

// Use with inputs / buttons you don't want users to interact with
uninteractive()
  user-select none
  pointer-events none
  cursor not-allowed

// responsive

breakpoints = {
  "shortest":     24em,     // 432px
  "short":        34em,    // 612px
  "standard":     53em,   // 954px
  "long":         77em,  // 1368px
  "longest":      107em // 1926px
}

// responsive mixin
container()
  font-size: typography-font-size
  width: 96%
  margin: 0 auto
  padding: 0 0
  
  base-internal-padding = 1em
  
  & :global .content
    padding-left: base-internal-padding
    padding-right: base-internal-padding
  
  &.content
    padding-left: base-internal-padding
    padding-right: base-internal-padding
  
  @media all
    
    @media (min-width: (breakpoints.short))
      width: (breakpoints.shortest)
      
      & :global .content
        padding-left: base-internal-padding * 2
        padding-right: base-internal-padding * 2
      
      &.content
        padding-left: base-internal-padding * 2
        padding-right: base-internal-padding * 2
        
    @media (min-width: (breakpoints.standard))
      width: (breakpoints.short)
    
    @media (min-width: (breakpoints.long))
      width: (breakpoints.standard)
      font-size: typography-font-size * 1.2
      
      & :global .content
        padding-left: base-internal-padding * 5
        padding-right: base-internal-padding * 5
      
      &.content
        padding-left: base-internal-padding * 5
        padding-right: base-internal-padding * 5
      
    @media (min-width: (breakpoints.longest))
      width: (breakpoints.standard)
      font-size: typography-font-size * 1.3
  