mono = Consolas, 'Liberation Mono', Menlo, Courier, monospace
helvetica = 'Helvetica Neue', Helvetica, Arial, sans-serif

// typography
typography-font-size = 18px
typography-line-height = 1.618em


// Use with inputs / buttons you don't want users to interact with
uninteractive()
  user-select none
  pointer-events none
  cursor not-allowed
