@require 'lib/vars'
@require 'lib/colors'

*
  box-sizing border-box

body
  color color-font
  background color-bg-light
  font-family helvetica
  font-size typography-font-size
  line-height typography-line-height
  padding 1em 1em
  
.hero
  
  .hero-img
    display: block
    width: 100%;