@require 'lib/vars'
@require 'lib/colors'

*
  box-sizing border-box

body
  color color-font
  background-color color-bg-light
  font-family helvetica
  font-size typography-font-size
  line-height typography-line-height
  
.hero
  margin-bottom 3em
  .hero-img
    display: block
    width: 100%;