.collection-wrapper
  padding 20px 20px
  border-bottom: 1px solid #666
  
  
  .collection
    display: flex
    
    .collection-item
      flex-grow: 1
      position: relative
      z-index: 25
      
      img
        position: absolute
        z-index: 20

