@require 'lib/colors'
@require 'lib/vars'


.site-footer
  container()
  margin-top: 3em
  padding: 2em 1em
  background-color: color-bg-dark
  color: color-font-light
  
  // @media all
    
  //   @media (min-width: breakpoints.short)
  //     padding: 3em 2em
  
  a
    color: color-font-light
    text-decoration: none

  .details,
  .footer-title,
  .info-links
    font-size 0.75em
    padding: section-padding 0 section-padding 0
  
  .details
    text-align: center
    
.sep
  color: alpha(color-font-light, 0.45)
  display: inline-block
  padding-left: 1rem
  padding-right: 1rem


.navigation-regions
  color: color-bg-light
  display: flex
  font-size 0.75em
  
  a
    color: color-bg-light
  
  .navigation-region
    flex-shrink: 1
    
    
.site-links
  
  .title
    font-size: 1em
    text-transform: uppercase
    font-weight: 800
  
  ul, ol
    padding 0em 2em 1em 0em
    list-style none
    li
      margin: 0 0
    