
@require 'lib/colors'

.site-footer
  padding-bottom: 20px;
  background-color: color-bg-dark
  color: color-font-light
  
  a
    color: color-font-light

nav
  
  ul, ol
    padding 0 0
    list-style none
    display flex
    li
      padding 1rem 1rem