
form
  clear: both;
  overflow: visible;


textarea
  max-width: 100%;
  max-height: 1000px;
  resize: vertical;

.input-container
  border-bottom: 1px solid #ccc
  
.info {
  color: #aaa;
  font-size: 1rem;
}


.loading {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
  
}

.loading-spinner {
  max-width: 100%;
  width: 15px;
  height: 15px;
}

.validation-error {
  display: inline
  color: #d07330;
  padding: 0.5em 0.5em 0.5em 1em;
  background-color: #fee;
}

.validation-warning {
  display: inline
  font-weight: 600;
  color: #62a2d0;
  padding: 0.5em 0.5em 0.5em 1em;
  background-color: #cef;
  

}

.material-icons {
  vertical-align: middle;
  padding-right: 1rem;
}