@require 'lib/colors'

.site-header {
  padding-bottom: 1em;
  display: flex
  flex-flow: row wrap
  justify-content: space-around
}

.brand
  padding: 2.5em 1em
  width: 10em
  height: 5em

.navigation-links
  padding: 1.5em 0 0 0
  align-self: flex-end
  
  a
    text-decoration: none
    color: color-font-neutral
    font-size: 0.86em
    text-transform: uppercase
  
  ul, ol
    padding 0 0
    margin: 0 0
    list-style none
    display flex
    flex-flow: row wrap

    li
      flex-grow: 1
      margin: 0 0
      padding 1em 1em
      
