@require 'lib/colors'
@require 'lib/vars'

.site-header {
  container()
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  padding-bottom: 1em
}

.brand
  padding: 2.5em 1em
  width: 10em
  height: 5em

.navigation-links
  padding: 1.5em 0
  align-self: flex-end
  
  

  a
    padding 1em 1em
    text-decoration: none
    color: color-font-neutral
    font-size: 0.86em
    text-transform: uppercase
    border: 1px solid transparent
    border-radius: 50%;
    transition: 0.15s ease-in all
  
  a:hover
    border: 1px solid alpha(color-font-neutral, 0.25)
    border-radius: 0%;
    transition: 0.2s ease-out border, 0.5s ease-out border-radius
  
  ul,
  ol
    padding 0 0
    margin 0 0
    list-style none
    display flex
    flex-flow row wrap

    li
      flex-grow: 1
      margin: 0 0
      