@require 'lib/colors'
@require 'lib/vars'

.page
  min-height: 960px
  .page-content
    min-height: 600px


.wrapper
  container()
  background-color: color-bg-light
  
  

.wrapper :global .text-content
  padding: 0 1em