

.visually-hidden {
  opacity: 0;
  user-select: none;
}

.shopping-cart-wrapper {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 2px;
  padding: 1rem 1.6rem;
}


.cart-item {
  border: 1px solid #000;
  .cart-item-image img  {
    max-width: 60px;
    border: 1px solid #aaa;
  }
  
}