

.visually-hidden {
  opacity: 0;
  user-select: none;
}

.shopping-cart-wrapper {

  .shopping-cart-icon {
    position: fixed;
    z-index: 30;
    right: 1rem;
    top: 1rem;
    background-color: #fff;
    
    span {
      padding: 0px 6px;
    }
  }
  
  
  .cart-items-wrapper {
    display: none;
    z-index: 25;
    position: fixed;
    padding: 2rem;
    top: 0px;
    left: 20%;
    right: 20%;
    bottom: 0px;
    background-color: rgba(255,255,255,0)
  }
  
  &.active {
    .cart-items-wrapper {
      display: block;
      background-color: rgba(255,255,255,1);
      webkit-transition: background 0.3s ease-in-out;
      
    }
  }
}


.cart-item {
  border: 1px solid #000;
  .cart-item-image img  {
    max-width: 60px;
    border: 1px solid #aaa;
  }
  
}


.muted {
  opacity: 0.6;
}